@model ProperTax.Models.StawkaPodatku

@{
    ViewData["Title"] = "Edit";
}

<h1>🛑 Czy na pewno chcesz edytować stawki tego roku?</h1>

@if (ViewBag.IloscNieruchomosci > 0)
{
    <p><strong>Zmiana stawek wpłynie na podatki @ViewBag.IloscNieruchomosci nieruchomości❗</strong></p>
    <p>Te nieruchomości polegają na stawkach z @Html.DisplayFor(model => model.Rok) roku:</p>
    <ul>
        @foreach (ProperTax.Models.Nieruchomosc nieruchomosc in (IEnumerable<ProperTax.Models.Nieruchomosc>)ViewBag.PowiazaneNieruchomosci)
        {
            <li>
                <strong>Adres:</strong> @nieruchomosc.Adres<br />
                <strong>Data zakupienia:</strong> @nieruchomosc.DataKupienia.ToString("yyyy-MM-dd")<br />
                <strong>Data sprzedaży:</strong> @(nieruchomosc.DataSprzedania.HasValue ? nieruchomosc.DataSprzedania.Value.ToString("yyyy-MM-dd") : "Niesprzedana")<br />
            </li>
        }
    </ul>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rok" />
            <div class="form-group">
                <label asp-for="Rok" class="control-label"></label>
                <input asp-for="Rok" class="form-control" readonly/>
                <span asp-validation-for="Rok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaKategoriiGruntyPowierzchniaDzialkiMieszkalnej" class="control-label"></label>
                <input asp-for="StawkaKategoriiGruntyPowierzchniaDzialkiMieszkalnej" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="StawkaKategoriiGruntyPowierzchniaDzialkiMieszkalnej" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaKategoriiGruntyPowierzchniaDzialkiNiemieszkalnej" class="control-label"></label>
                <input asp-for="StawkaKategoriiGruntyPowierzchniaDzialkiNiemieszkalnej" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="StawkaKategoriiGruntyPowierzchniaDzialkiNiemieszkalnej" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaMieszkalna" class="control-label"></label>
                <input asp-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaMieszkalna" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaMieszkalna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaNiemieszkalna" class="control-label"></label>
                <input asp-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaNiemieszkalna" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="StawkaKategoriiBudynkiPowierzchniaUzytkowaNiemieszkalna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaKategoriiWartoscBudowli" class="control-label"></label>
                <input asp-for="StawkaKategoriiWartoscBudowli" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="StawkaKategoriiWartoscBudowli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Komentarz" class="control-label"></label>
                <input asp-for="Komentarz" class="form-control" />
                <span asp-validation-for="Komentarz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz 💾" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy 🔙</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
